@import url(https://fonts.googleapis.com/css?family=Exo|Montserrat|Roboto);

body {
    background: white;
}

.sv_main {
     .sv_container {
        color: #333;
    }

    .sv_custom_header {
        background: white;
    }
}

h4 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #1e5e92;
}