@import url(https://fonts.googleapis.com/css?family=Exo|Montserrat|Roboto);

body {
    background: white;
}

#logo {
    width: 300px;
    margin: 25px auto;
}

.panel-body {
    width: 80%;
    max-width: 1400px;
    box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 0;
    min-height: 300px;
    margin: 20px auto;
    border-radius: 5px;
    position: relative;
    background: white;
}

.sv_row {
    padding: 0 50px;
}

.sv_main {
    background: none;
    background-color: none;

    .sv_container {
        color: #333;
    }

    .sv_custom_header {
        background: white;
    }
}

.sv_qcbx .checkbox label {
    float: left;
}