.sv_main {
    input.btn,
    input[type="button"] {
        background-color: #007add;
        background-image: linear-gradient(45deg, #52a5d1 0%, #007add 55%, #0042ac 90%);
        background-position: 100% 0;
        background-size: 200% 200%;
        color: white;
        border-radius: 1px;
        padding: 12px 48px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 200;
        text-decoration: none;
        box-shadow: 0 16px 32px 0 #c0e3ff;
        transition: all 0.5s ease;

        &:hover {
            box-shadow: 0 0px 0px 0 #8bcbff;
            background-position: 0 0;
          }
    }
}