
.btn-group {

    .btn,
    .btn-default {
      background: #f7be44;
      color: white;
      border: 2px solid #f7be44;
      font-weight: 900;
      font-family: 'Exo', sans-serif;
      transition: all ease 0.3s;
      text-shadow: 1px 1px 0 rgba(0,0,0,0.5);

  
      &.active, 
      &:focus,
      &:hover {
        box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
        color: white;
      }

      &.active {
        border-color: rgba(0,0,0,0.5) !important;
      }
    }
  
    .btn:first-child {
      background: #671611;
      border: 2px solid #671611;
    }
  
    .btn:nth-child(2) {
      background: #7f1a14;
      border: 2px solid #7f1a14;
    }
  
    .btn:nth-child(3) {
      background: #ae2932;
      border: 2px solid #ae2932;
    }

    .btn:nth-child(4) {
        background: #ce3436;
        border: 2px solid #ce3436;
    }

    .btn:nth-child(5) {
    background: #ef7a34;
    border: 2px solid #ef7a34;
    }

    .btn:nth-child(6) {
    background: #f7be44;
    border: 2px solid #f7be44;
    }

    .btn:nth-child(7) {
      background: #f3de32;
      border: 2px solid #f3de32;
    }
  
    .btn:nth-child(8) {
      background: #8fc96f;
      border: 2px solid #8fc96f;
    }
  
    .btn:nth-child(9) {
      background: #5bb656;
      border: 2px solid #5bb656;
    }
  
    .btn:nth-child(10) {
      background: #21914c;
      border: 2px solid #21914c;
    }
  }


  //FIX FOR STUPID SURVEYJS STYLE 

  .btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
      margin-left: 0;
  }