div.sv_main.sv_bootstrap_css form div.sv_container div.panel-body.card-block.mt-4 {
    h4 {
        height: 200px;
        line-height: 200px;
        text-align: center;
        background: linear-gradient(to bottom right, #0042ac, #52a5d1);
        background-repeat: repeat;
        background-size: auto;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0 20px;

        span {
            font-family: 'Montserrat', sans-serif;
            font-size: 26px;
            line-height: 36px;
            font-weight: normal;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            color: white;
        }
    }
}

.sv_container {
    .panel-body {
        padding: 0;
    }
}