//// Start Page ////
div.sv_main.sv_bootstrap_css form div.sv_container div.panel-body.card-block.mt-4 {
    h4 {
        height: 200px;
        line-height: 200px;
        text-align: center;
        background: linear-gradient(to bottom right, #0042ac, #52a5d1);
        background-repeat: repeat;
        background-size: auto;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;

        span {
            font-size: 22px;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            color: white;
        }
    }
}

.sv_container {
    .panel-body {
        padding: 0;
    }
}

//// End Start Page ///
.sv_main {
    background: none;

    .sv_custom_header {
        background: none;
    }
}

.panel-footer {
    background-color: unset;
}

div.panel-body.card-block.mt-4 div.panel-footer.card-footer {

}

// input.btn.sv_start_btn {
//     background-color: #007add;
//     background-image: linear-gradient(45deg, #52a5d1 0%, #007add 55%, #0042ac 90%);
//     background-position: 100% 0;
//     background-size: 200% 200%;
//     color: white;
//     border-radius: 1px;
//     padding: 12px 48px;
//     font-family: 'Montserrat', sans-serif;
//     font-size: 16px;
//     font-weight: 200;
//     text-decoration: none;
//     box-shadow: 0 16px 32px 0 #c0e3ff;
//     transition: all 0.5s ease;

//     &:hover {
//         box-shadow: 0 0px 0px 0 #8bcbff;
//         background-position: 0 0;
//       }
// }